body{
    height: 100vh;
    margin: 0;
}

.carrito{
    display: flex;
    flex-direction: column;
    gap: 2em;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    padding: 3em;

}

h1 {
    text-align: center;
}

.articulo {
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
        padding: 20px;/* aumentar para intentar meter foto*/
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4em;

}

.articulo > div:last-child{
    display: flex;
    align-items: center;
    gap: 4em;
    justify-content: right;
    padding-right: 5px;
}

.imgpapelera{
    width: 15px;
    height: 18px;
}

.parteAbajo{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 20px;
    margin-right: 115px;
    gap: 6.5em;
    padding-bottom: 20px;
}

.finalizar {
    background-color: black;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    color: white;
    padding: 10px;
    
    
}