

header{
    background-color: black;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header h1{
    color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logoTienda {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    background-color: aqua;
}


main{
    background-color:aquamarine ;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

aside{
    background-color: blueviolet;
    width:18%;
}

.principal{
    background-color:burlywood ;
    width: 80%;
}


.menudelascategorias{
    display: flex;
    flex-direction: column;
}

.bandaofertas{
    background-color: chocolate;
    width: 100%;
    height: 200px;
}
footer {
    font-family: monospace;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
}