

header{
    background-color: black;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header h1{
    color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logoTienda {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    background-color: aqua;
}


main{
    height: 100vh;
    display:flex;
    flex-direction: column;
}

.partearriba{
    display: flex;
    flex-wrap: wrap;
    height: 66.6%;
}

aside{
    
    
    width:20%;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 1.8vw;
}

aside nav{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-block: 2em;
    background-color: rgba(159, 143, 189, 0.6);
    
}

aside nav a{
    color: white;
    text-decoration: none;
    padding-right: 5px;
    font-size: 1em;
    
    
}

aside nav a:hover{
    color: cadetblue;
}

.principal{
    background-color:burlywood ;
    width: 80%;
    overflow: scroll;

}

.intro{
  
    overflow: hidden;
}

.presentacion{
  
}

.videopresentacion {

}

.contenidopresentacion {
}

.filosofia{
  
}


.masvendidos{
  overflow: hidden;
}

.productos{

}

.articulo{

}

.bandaofertas{
    background-color: chocolate;
    width: 100%;
    height: 33.3%;
    position: relative;
    overflow: hidden;
    z-index: 1000;
      display: flex; /* Asegura que sus hijos se alineen bien */
    align-items: center;
    justify-content: center;
}

.bandaofertas div {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    opacity: 0;
    animation: fadeCarousel 12s infinite;
    transition: opacity 1s ease-in-out;
    background-size: cover;
}
.bandaofertas div:nth-child(1) { animation-delay: 0s; background-color: black;}
.bandaofertas div:nth-child(2) { animation-delay: 4s; background-color: white}
.bandaofertas div:nth-child(3) { animation-delay: 8s; background-color: pink}
@keyframes fadeCarousel {
        0%, 100% { opacity: 0; }
        10%, 30% { opacity: 1; }
        40%, 90% { opacity: 0; }
}

.desplegable{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 5px;
    border-width: 10px;
    border-style: hidden;
    box-sizing: border-box;
}

.desplegable nav {
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 100%;
    width: 100%;

}

.desplegable a {
     text-decoration: none;
    padding-right: 5px;
    margin-right: 15px;
}

.desplegable a:hover {
    color: aqua;
}






footer {
    font-family: monospace;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
}