body{
    background-color: whitesmoke;
        font-family: 'Courier New', Courier, monospace;

}

h1 {
    font-weight: bold;
}

form{
    padding: 60px 0;
    
    max-width: 600px;    
}

@keyframes gradientBG {
    0% {background-position: 0% 50%; }
    50% {background-position: 100% 50%; }
    100% { background-position: 0% 50% }
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 6px;
    border-radius:5px;
    border-color: #435201;
}

label{
    display: flex;
    flex-direction: column;
    
}

input, select{
    padding: 14px;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: rgba(0,0,0,0.4);

}

div{
    display: flex;
    margin-top: 12px;
    justify-content: flex-end;

    gap: 30px;
}

button{
    font-weight: bold;
    
    margin-bottom: 10px;
    
    padding: 12px;
    padding-inline: 15px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    color:white;
    font-size: 18px;
}

button:hover {
    color:#bbb;
    transform: scaleX(1.1);
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color:#bbb;
}




