html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.catalogo{
    background-color: white;
    padding-top: 36px;
    text-align: center;
   height: auto;
   overflow-y: scroll;
    flex: 1;

}

.catalogo h2{
    color: rgb(252, 163, 54);
    margin-top: 16px;
    margin-bottom: 36px;
    font-size: 36px;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4.5em;
    padding-bottom: 3em;
    padding-inline: 2.5em;
}

.contenedorProducto {
    background-color: whitesmoke;
    box-sizing: border-box;
    box-shadow: 6px 8px 10px 2px rgba(0, 0, 0, 0.85);
    border-radius: 3px;
    height: 450px;
    padding-inline: 10px;
}


.info{
    height: 25%;
    overflow-y: scroll;
}
.contenedorImg{
    border-radius: 5px;
}

.imgProducto {
    width: 180px;
    height: 170px;
}


    
.formCarrito{
    display: flex;
    justify-content: space-evenly;
}

.inputAna {
    text-align: center;
    margin: 5px;
    font-size: 18px;
}

.botonAnaCa {
    padding: 10px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    color:white;
    font-size: 16px;
    margin: 5px;
}