

header{
    background-color: black;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header h1{
    color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logoTienda {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    background-color: aqua;
}


.index{
    height: 100vh;
    display:flex;
    flex-direction: column;
}

.partearriba{
    display: flex;
    flex-wrap: wrap;
    height: 66.6%;
}

aside{
    
    
    width:20%;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 1.8vw;
}

aside nav{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-block: 2em;
    background-color: rgba(159, 143, 189, 0.6);
    
}

aside nav a{
    color: white;
    text-decoration: none;
    padding-right: 5px;
    font-size: 1em;
    
    
}

aside nav a:hover{
    color: cadetblue;
}

.principal{
    background-color:burlywood ;
    width: 80%;
    position: relative;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.intro{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom:25px;
    
}

.presentacion{
    position: relative;
    height: 70%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.videopresentacion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:95%;
    object-fit: cover;
    z-index: -1;
}

.contenidopresentacion {
    position: relative;
    z-index: 1;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

.filosofia{
    height: 30%;
    background-color: white;
    color: #111;
    padding: 2rem 1rem;
    padding-bottom: 0;
    text-align: center;
}


.masvendidos{
    height: 100vh;
    width: 100%;
    background-image:url(/istockphoto-1320185524-612x612.jpg);
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.masvendidos h2{
    margin-block:0;
    padding-top:50px;
    font-size: 30px;
}
.productos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
    height: 80%;
}

.articulo{
    background-color: #f5f5f5;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #38bd0f;
    text-align: center;
    box-sizing: border-box;
    max-height: 100%;
    overflow: hidden;
}


.bandaofertas{
    background-color: chocolate;
    width: 100%;
    height: 33.3%;
    position: relative;
    overflow: hidden;
    z-index: 1000;
      display: flex; /* Asegura que sus hijos se alineen bien */
    align-items: center;
    justify-content: center;
}

.bandaofertas div {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    opacity: 0;
    animation: fadeCarousel 12s infinite;
    transition: opacity 1s ease-in-out;
    background-size: cover;
}
.bandaofertas div:nth-child(1) { animation-delay: 0s; background-color: black;}
.bandaofertas div:nth-child(2) { animation-delay: 4s; background-color: white}
.bandaofertas div:nth-child(3) { animation-delay: 8s; background-color: pink}
@keyframes fadeCarousel {
        0%, 100% { opacity: 0; }
        10%, 30% { opacity: 1; }
        40%, 90% { opacity: 0; }
}

.desplegable{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 5px;
    border-width: 10px;
    border-style: hidden;
    box-sizing: border-box;
}

.desplegable nav {
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 100%;
    width: 100%;

}

.desplegable a {
     text-decoration: none;
    padding-right: 5px;
    margin-right: 15px;
}

.desplegable a:hover {
    color: aqua;
}






footer {
    font-family: monospace;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
}

