.menuPrueba {
    background-color: rgba(255, 255, 255, 0.6);
    top: 28vh;
    left: 13vw;
    z-index: 10;
    border:none;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    width: 70vw;
}

.menuPrueba h4 {
    font-size: 32px;
    margin-top: 3px;
}

.contNav{
    background-color: rgba(255, 255, 255, 0.6);
        padding: 30px;
        width: 90%;
        height: 70%;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
}




.contNav nav {
    display: flex;
    justify-content: space-evenly;
    
}

.contNav nav a {
    padding: 20px;
    font-size: 25px;
    text-decoration: none;
    border:none;
}


